

@{
    ViewData["Title"] = "My Tasks";
}

@model List<ToDo>

    <div class="container text-center">
        <div class="row">
            <!--Row 1-->
            <div class="col">
                <h1>Stephen Covey's Time Management Matrix</h1>
            </div>
        </div>
    </div>


    <div class="container border">
        <div class="row">
            <!--Row 2-->
            <div class="col"></div>
            <div class="col border-left">
                <h3>URGENT</h3>
            </div>
            <div class="col border-left">
                <h3>NOT URGENT</h3>
            </div>
        </div>
    </div>

    <div class="container border">
        <div class="row">
            <!--Row 3-->
            <div class="col">
                <h3>IMPORTANT</h3>
            </div>
            <div class="col border-left">
                <h4>Quadrant 1</h4>
                @foreach (var x in Model)
                {
                    if (x.Quadrant == 1)
                    {

                        <p>
                            @x.TaskName
                            @x.DueDate<br />
                            @x.Category.CategoryName<br />
                            Completed: @x.Completed

                            <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@x.TaskId">Delete</a>
                            <br /><br />
                        </p>

                    }
                }
            </div>
            <div class="col border-left">
                <h4>Quadrant 2</h4>
                @foreach (var x in Model)


                    @*<p>Quadrant 2</p>*@
                    if (x.Quadrant == 2)
                    {

                        <p>
                            @x.TaskName
                            @x.DueDate<br />
                            @x.Category.CategoryName<br />
                            Completed: @x.Completed

                            <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a>
                            <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@x.TaskId">Delete</a>
                            <br /><br />
                        </p>
                    }
            </div>
                    </div>
                    </div>

                    <div class="container border">
                        <div class="row">
                            <!--Row 4-->
                            <div class="col">
                                <h4>NOT IMPORTANT</h4>
                            </div>
                            <div class="col col border-left">
                                <h4>Quadrant 3</h4>
                                @foreach (var x in Model)

                                    @*<p>Quadrant 3</p>*@
                                    if (x.Quadrant == 3)
                                    {
                                        <p>
                                        @x.TaskName 
                                        @x.DueDate<br />
                                        @x.Category.CategoryName<br />
                                        Completed: @x.Completed

                                        <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a>
                                        <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@x.TaskId">Delete</a>
                                        <br /><br />
                                        </p>
                                    }
                            </div>
                            <div class="col col border-left">
                                <h4>Quadrant 4</h4>
                                @foreach (var x in Model)
                                { 
                                    <p>
                                        @x.TaskName
                                        @x.DueDate<br />
                                        @x.Category.CategoryName<br />
                                        Completed: @x.Completed

                                        <a asp-controller="Home" asp-action="EditTask" asp-route-id="@x.TaskId">Edit</a>
                                        <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@x.TaskId">Delete</a>
                                        <br /><br />
                                    </p>
                                }
                            </div>
                                    </div>
                                    </div>



